@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-image: url("../public/background.jpg");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glassContainer {
    background-color: rgba(255, 255, 255, .70);
    backdrop-filter: blur(5px);
  }
  .shimmerBackground {
    background: linear-gradient(-45deg, rgba(255, 255, 255, .15) 40%, #fafafa 50%, rgba(255, 255, 255, .15) 60%);
    backdrop-filter: blur(5px);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 10s infinite linear;
  }
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

.animate-title {
  animation: title 3s ease-out forwards;
}

@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.glow-text {
  color: white;
  text-shadow: 
  0 0 5px rgba(0, 0, 0, 0.5),
  0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-link {
  display: flex; 
  align-items: center; 
  flex-direction: column;
}

.contact-link p {
  display: none; 
  transition: display 0.3s ease; 
}

.contact-link:hover p {
  display: block;
}



